@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MyFirstDocumentType>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<h1>@Model.Content.MyFirstTextbox</h1>
<h2>@Model.Content.MySecondTextbox</h2>